<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ItransitionApp5</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@*	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/ItransitionApp5.styles.css" asp-append-version="true" />*@
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
		<div class="container-fluid">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">ItransitionApp5</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Messages">Received messages</a>
					</li>
				</ul>
				<form class="d-flex flex-row" method="post" asp-controller="Account" asp-action="Logout">
					<div class="p-2">@User.Identity.Name</div>
					<button class="btn btn-primary" type="submit" asp-controller="Account" asp-action="Logout">Logout</button>
				</form>
			</div>
		</div>
	</nav>
	@RenderBody();
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
